.profile__info-box {
  margin: 0;
  padding: 0;
  gap: 18px;
  max-width: 100%;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: baseline;
}

@media screen and (max-width: 768px) {
  .profile__info-box {
      gap: 10px;
      }
  }