.profile__edit-button {
  background-image: url(../../../images/Edit\ Button.svg);
  margin-top: 15px;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: solid 1px #FFF;
  cursor: pointer;
  padding: 0;
}

.profile__edit-button:hover{
  opacity: .6;
}

@media screen and (max-width: 768px) {
  .profile__edit-button {
    height: 18px;
    margin: 0;
    background-size: 18px 18px;
      }
  }