.elements {
  padding: 0;
  margin: 0;
  max-width: 880px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 282px);
  column-gap: 17px;
  row-gap: 20px;
  justify-content: center;
}


@media screen and (max-width: 769px) {
  .elements {
    justify-content: center;
    grid-template-columns: 282px;
  } 
 }