.profile__bio {
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  font-style: normal;
  line-height: 22px;
  font-weight: 400;
  white-space: nowrap;
  max-width: calc(100% - 30px);
}

@media screen and (max-width: 768px) {
.profile__bio{
  max-width: 282px;
  width: 100%;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}
}